---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";
import PageHeader from "../../components/PageHeader.astro";
import Link from "../../components/Link.astro";
import TOC from "../../components/TOC.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getNumberWithOrdinal } from "../../lib/bill-analysis.ts";
import type { MarkdownHeading } from "astro";

export const getStaticPaths = async () => {
    const billAnalyses = await getCollection("billAnalyses");
    return billAnalyses.map((analysis) => ({
        params: { id: analysis.id },
        props: { analysis },
    }));
};

type Props = {
    analysis: CollectionEntry<"billAnalyses">;
};

const { analysis } = Astro.props;
const url = `https://www.congress.gov/bill/${getNumberWithOrdinal(Number(analysis.data.bill.congress))}-congress/${analysis.data.bill.chamber}-bill/${analysis.data.bill.number}`;

const headings: MarkdownHeading[] = [
    { depth: 2, slug: "sponsors", text: "Sponsors" },
    { depth: 2, slug: "summary", text: "Summary" },
    { depth: 2, slug: "background", text: "Background" },
    analysis.data.organizations.support.length > 0
        ? {
              depth: 2,
              slug: "organizations-support",
              text: "Organizations in Support",
          }
        : undefined,
    analysis.data.organizations.oppose.length > 0
        ? {
              depth: 2,
              slug: "organizations-oppose",
              text: "Organizations in Opposition",
          }
        : undefined,
    { depth: 2, slug: "recommendation", text: "Recommendation" },
].filter((heading) => Boolean(heading)) as MarkdownHeading[];
---

<Layout title={`${analysis.data.title} | Bill Analysis`}>
    <Container>
        <PageHeader
            title={analysis.data.title}
            class="mx-auto max-w-3xl"
            parent="Bill Analysis"
            parent-url="/bill-analysis"
        >
            <Fragment slot="subtitle">
                <time datetime={analysis.data.published.toISOString()}
                    >{
                        analysis.data.published.toLocaleDateString(undefined, {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })
                    }</time
                > &bull;
                {getNumberWithOrdinal(Number(analysis.data.bill.congress))} Congress
                &bull; <Link href={url} className="text-pink-600 underline"
                    >View on Congress.gov</Link
                >
            </Fragment>
        </PageHeader>

        <TOC headings={headings} />

        <article
            class="mx-auto prose mt-6 max-w-3xl dark:prose-invert prose-a:text-pink-600"
        >
            <section>
                <p id="sponsors">
                    <strong
                        >Sponsor{
                            analysis.data.bill.sponsors.length !== 1 && "s"
                        }:</strong
                    >
                    {analysis.data.bill.sponsors.join(", ")}

                    <br />

                    <strong
                        >Cosponsor{
                            analysis.data.bill.cosponsors.listed.length !== 1 ||
                            analysis.data.bill.cosponsors.other !== 1
                                ? "s"
                                : ""
                        }:</strong
                    >
                    {analysis.data.bill.cosponsors.listed.join(", ")}{
                        analysis.data.bill.cosponsors.other > 0 ? (
                            <>
                                {" "}
                                and{" "}
                                <Link href={`${url}/cosponsors`}>
                                    {analysis.data.bill.cosponsors.other}{" "}
                                    {`other${analysis.data.bill.cosponsors.other !== 1 && "s"}`}
                                </Link>
                            </>
                        ) : (
                            ""
                        )
                    }
                </p>
            </section>

            <section>
                <p id="summary">
                    <strong>Summary:</strong>
                    {analysis.data.summary}
                </p>
            </section>

            <section>
                <p id="background">
                    <strong>Background:</strong>
                    {analysis.data.background}
                </p>
            </section>

            {
                analysis.data.organizations.support.length > 0 && (
                    <section>
                        <p id="organizations-support">
                            <strong>Organizations in Support:</strong>
                            {analysis.data.organizations.support.join(", ")}
                        </p>
                    </section>
                )
            }

            {
                analysis.data.organizations.oppose.length > 0 && (
                    <section>
                        <p id="organizations-oppose">
                            <strong>Organizations in Opposition:</strong>
                            {analysis.data.organizations.oppose.join(", ")}
                        </p>
                    </section>
                )
            }

            <section>
                <p id="recommendation">
                    <strong>Recommendation:</strong>
                    {
                        analysis.data.recommendation.action[0].toUpperCase() +
                            analysis.data.recommendation.action.slice(1)
                    }. {analysis.data.recommendation.reason}
                </p>
            </section>
        </article>
    </Container>
</Layout>
