---
import Layout from "../layouts/Layout.astro";
import WebsiteStructuredData from "../components/WebsiteStructuredData.astro";
import Container from "../components/container.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import ShowcaseItem from "../components/ShowcaseItem.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/sort.ts";

const showcase = (
    await getCollection("showcase", ({ data }) => data.featured)
).sort((a, b) => a.data.name.localeCompare(b.data.name));

const latestPost = (
    await getCollection(
        "posts",
        ({ data }) => data.type === "article" && data.published !== "",
    )
).sort((a, b) =>
    sortByDate(new Date(a.data.published), new Date(b.data.published)),
)[0];
---

<Layout>
    <WebsiteStructuredData slot="structured-data" />
    <Container>
        <main class="place-items-center pt-2 pb-8 md:pt-8">
            <section>
                <h1
                    class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-pink-600"
                >
                    Hello world, I'm H. Kamran
                </h1>
                <p class="text-lg mt-4 text-c-light -max-w-xl">
                    I'm a developer who <Link href="/photos" class="underline"
                        >takes photos</Link
                    >, is interested in data privacy and security, and follows
                    government across the U.S., the EU, and the UK in my free
                    time.
                </p>
            </section>

            <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <header class="text-c-light mb-2">Latest Article</header>
                    <Link href={`/articles/${latestPost.id}`}>
                        <Image
                            src={`https://assets.hkamran.com/graphics/article/${latestPost.id}`}
                            alt={latestPost.data.img!.alt}
                            width={2000}
                            height={1000}
                            class="rounded-md"
                            priority
                        />

                        <section class="mt-2">
                            <p class="font-semibold">
                                {latestPost.data.title}
                            </p>
                            <p class="text-c-light tracking-tight">
                                {latestPost.data.description}
                            </p>
                            <p class="text-c-lighter tracking-tight">
                                <time
                                    datetime={(
                                        latestPost.data.published as Date
                                    ).toISOString()}
                                    class="dt-published published"
                                >
                                    {
                                        (
                                            latestPost.data.published as Date
                                        ).toLocaleDateString(undefined, {
                                            year: "numeric",
                                            month: "long",
                                            day: "numeric",
                                        })
                                    }
                                </time>
                            </p>
                        </section>
                    </Link>
                </div>

                <div>
                    <header class="text-c-light">Featured Projects</header>
                    <main>
                        <ul class="gap-4">
                            {
                                showcase.map((item) => (
                                    <ShowcaseItem item={item} />
                                ))
                            }
                        </ul>
                    </main>
                </div>
            </section>
        </main>
    </Container>
</Layout>
