---
import Layout from "../layouts/Layout.astro";
import WebsiteStructuredData from "../components/WebsiteStructuredData.astro";
import Container from "../components/container.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import ShowcaseItem from "../components/ShowcaseItem.astro";

import { getCollection } from "astro:content";

const showcase = (
    await getCollection("showcase", ({ data }) => data.featured)
).sort((a, b) => a.data.name.localeCompare(b.data.name));
const latestPost = (await getCollection("posts"))
    .sort((a, b) => b.data.published - a.data.published)
    .find((post) => post.data.type === "article");
---

<Layout>
    <WebsiteStructuredData slot="structured-data" />
    <Container>
        <main class="place-items-center pt-2 pb-8 md:pt-8">
            <section>
                <h1
                    class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-pink-600"
                >
                    Hello world, I'm H. Kamran
                </h1>
                <p class="text-lg mt-4 text-c-light -max-w-xl">
                    I'm a developer who <Link href="/photos" class="underline"
                        >takes photos</Link
                    > and follows government actions across the U.S., the EU, and
                    occasionally the UK in my free time.
                </p>
            </section>

            <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <header class="text-c-light">Latest Article</header>
                    <main class="mt-2">
                        <Image
                            src={`https://assets.hkamran.com/graphics/article/${latestPost.id}`}
                            alt={latestPost.data.img!.alt}
                            width={2000}
                            height={1000}
                            class="rounded-md"
                            priority
                        />

                        <section class="mt-2">
                            <p class="font-semibold">
                                {latestPost.data.title}
                            </p>
                            <p class="text-c-light tracking-tight">
                                {latestPost.data.description}
                            </p>
                            <p class="text-c-lighter tracking-tight">
                                <time
                                    datetime={latestPost.data.published.toISOString()}
                                    class="dt-published published"
                                >
                                    {
                                        latestPost.data.published.toLocaleDateString(
                                            undefined,
                                            {
                                                year: "numeric",
                                                month: "long",
                                                day: "numeric",
                                            },
                                        )
                                    }
                                </time>
                            </p>
                        </section>
                    </main>
                </div>

                <div>
                    <header class="text-c-light">Featured Projects</header>
                    <main>
                        <ul class="gap-4">
                            {
                                showcase.map((item) => (
                                    <ShowcaseItem item={item} />
                                ))
                            }
                        </ul>
                    </main>
                </div>
            </section>
        </main>
    </Container>
</Layout>
