---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import { Code } from "@lucide/astro";
import { getCollection } from "astro:content";

const showcase = (
    await getCollection("showcase", ({ data }) => data.featured)
).sort((a, b) => a.data.name.localeCompare(b.data.name));
const latestPost = (await getCollection("posts"))
    .sort((a, b) => b.data.published - a.data.published)
    .find((post) => post.data.type === "article");
---

<Layout>
    <Container>
        <main class="place-items-center pt-16 pb-8 md:pt-12">
            <section>
                <h1
                    class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-pink-600"
                >
                    Hello world, I'm H. Kamran
                </h1>
                <p class="text-lg mt-4 text-c-light -max-w-xl">
                    I'm a developer who <a href="#" class="underline"
                        >takes photos</a
                    > and follows U.S. federal and state actions in my free time.
                </p>
            </section>

            <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <header class="text-c-light">Latest Article</header>
                    <main class="mt-2">
                        <img
                            src={`https://assets.hkamran.com/graphics/article/${latestPost.id}`}
                            class="rounded-md"
                        />

                        <section class="mt-2">
                            <p class="font-semibold">
                                {latestPost.data.title}
                            </p>
                            <p class="text-c-light tracking-tight">
                                {latestPost.data.description}
                            </p>
                            <p class="text-c-lighter tracking-tight">
                                <time
                                    datetime={latestPost.data.published.toISOString()}
                                    class="dt-published published"
                                >
                                    {
                                        latestPost.data.published.toLocaleDateString(
                                            undefined,
                                            {
                                                year: "numeric",
                                                month: "long",
                                                day: "numeric",
                                            },
                                        )
                                    }
                                </time>
                            </p>
                        </section>
                    </main>
                </div>

                <div>
                    <header class="text-c-light">Featured Projects</header>
                    <main>
                        <ul class="gap-4">
                            {
                                showcase.map((item) => (
                                    <li class="mt-2">
                                        <p class="font-semibold flex">
                                            <span class="flex-1">
                                                {item.data.site ? (
                                                    <a
                                                        href={item.data.site}
                                                        class="underline"
                                                    >
                                                        {item.data.name}
                                                    </a>
                                                ) : (
                                                    item.data.name
                                                )}
                                            </span>
                                            {item.data.repository && (
                                                <a
                                                    href={item.data.repository}
                                                    class="hover:text-gray-700 dark:hover:text-gray-300"
                                                    aria-label={`${item.data.name} repository`}
                                                >
                                                    <Code size={18} />
                                                </a>
                                            )}
                                        </p>
                                        <p class="text-c-light tracking-tight">
                                            {item.data.description}
                                        </p>
                                    </li>
                                ))
                            }
                        </ul>
                    </main>
                </div>
            </section>
        </main>
    </Container>
</Layout>
