---
import Layout from "../../layouts/Layout.astro";
import PostStructuredData from "../../components/PostStructuredData.astro";
import Container from "../../components/container.astro";
import PageHeader from "../../components/PageHeader.astro";
import Link from "../../components/Link.astro";
import { Image } from "astro:assets";
import { getCollection, render, type CollectionEntry } from "astro:content";
import { slugify } from "@hkamran/utility-strings";

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { postType: post.data.type + "s", id: post.id },
        props: { post },
    }));
};

type Props = {
    post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <PostStructuredData slot="structured-data" post={post} />
    <Container>
        <main class="h-entry place-items-center pt-2 pb-8 md:pt-8">
            <PageHeader
                title={post.data.title}
                subtitle={post.data.description}
            >
                <Fragment slot="description">
                    {
                        post.data.published && post.data.updated && (
                            <time>
                                {new Intl.DateTimeFormat("en", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                }).formatRange(
                                    post.data.published,
                                    post.data.updated,
                                )}
                            </time>
                        )
                    }

                    {
                        post.data.published && post.data.published !== "" ? (
                            <time
                                datetime={post.data.published.toISOString()}
                                class={`dt-published published ${post.data.updated && "hidden"}`}
                            >
                                {post.data.published.toLocaleDateString(
                                    undefined,
                                    {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    },
                                )}
                            </time>
                        ) : (
                            "Unpublished"
                        )
                    }

                    {
                        post.data.updated && (
                            <time
                                datetime={post.data.updated.toISOString()}
                                class="dt-updated updated hidden"
                            >
                                {post.data.updated.toLocaleDateString(
                                    undefined,
                                    {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    },
                                )}
                            </time>
                        )
                    }

                    &bull;

                    {
                        post.data.tags.map((tag, index) => (
                            <Fragment>
                                <Link
                                    href={`/tags/${slugify(tag)}`}
                                    class="p-category text-pink-700 transition-colors duration-300 hover:text-pink-600"
                                >
                                    {tag}
                                </Link>
                                {index !== post.data.tags.length - 1 ? "⋅" : ""}
                            </Fragment>
                        ))
                    }
                </Fragment>
            </PageHeader>

            {
                post.data.type === "article" && post.data.published && (
                    <section class="mx-auto mt-6 max-w-3xl">
                        <Image
                            src={post.data.img!.src}
                            alt={post.data.img!.alt}
                            width={2000}
                            height={1000}
                            class="u-photo rounded-md"
                            priority
                        />
                    </section>
                )
            }

            <article
                class="e-content mx-auto prose mt-6 max-w-3xl dark:prose-invert prose-a:text-pink-600"
            >
                <Content />
            </article>
        </main>
    </Container>
</Layout>
